* {
  padding: 0px;margin: 0px;box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  background: #21314a;

}
header {
    background:#ee6c4d;
    height: 50px;
  z-index: 2;
    position: fixed;
    top: 0px;
     width: 100%;
}
.header {
    height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

nav,.header-right, {
  margin-right: 60px;
  padding: 20px;
}
h2 {
  margin-left: 30px;
  font-size: 25px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color:black;
  font-size: 20px;
  margin-right: 20px;
  padding: 20px;
}
main {
  margin-top: 80px;
}
section {
  text-align: center;
  padding: 10px;
}
h1,p {
  color:white;
  padding: 10px;
  font-size: 38px;
  font-weight: bold;
  font-family: sans-serif;
}
.color {
  font-size: 18px;
  color: #ffffffb4;
}
table {
    margin-top: 20px;
}
td {

  width: 880px;
  border: 1px solid white;
}
.main-second,.font-color {
  margin-top: 20px;
  color:white;
}
select {
  width: 10vw;
  height: 5vh;
  margin: 45px;
}
.block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.block-top {
  border-radius: 10px;
  box-shadow:0 1px 0 #293d5c;
  background:#3c424b;
  width: 25%;
  margin: 20px;
  margin-left: 40px;
  height: 220px;
  transition: all 1s ease-in-out;
}
.block-top:hover {
  background-color:#000000;

  transform:scale(1.25);
}
h4 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  background-color: rgb(219, 56, 56);
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  color:white;

}
span {
  color:white;
  margin-left: 20px;
}
p {
  font-size: 1rem;
  color:#ffffffb4
}
h5 {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}
.yellow {
background-color: #ebd834;
font-family: 'Source Sans Pro', sans-serif;
}
.green {
background-color: #53eb34;
}
.number {
text-align: center;
margin: 20px;
}
.padding {
letter-spacing: 8px;
padding: 10px;
color:black;
}
.footer {
margin-top: 60px;
height: 150px;
background: #789aafd5;
}
.social-icon {
text-align: center;
padding: 2px;
margin-top: 20px;
}
.footer-links {
position: relative;
top: 25px;
border-radius: 10px;
}
.Copyright {
color: black;
text-align: center;
margin-top: 45px;
font-size: 20px;
}
@media screen and (max-device-width:545px) {
.header-left,h2,a ,nav,.header-right{
  margin: 0px auto;
  padding: 0px auto;
}
h2 {
  font-size: 18px;
}
a {
  font-size: 16px;
}
td {
  width: 210px;
}
.font-color {
  font-size: 20px;
}
select {
  margin: 40px 10px;
  width: 40vw;
}
  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    padding: 0px auto;

  }
  .block-top {
    width: 320px;
    height: 200px;


  }
  .block-top:hover{
    transform:scale(1.15);
  }
span {
  margin-left: 15px;
}
}
@media screen and (min-device-width:600px) and (max-device-width:955px) {
select {
 width: 20vw;
 height: 10vh;
}
.block {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}
.block-top {
 width: 90vh;
 height: 250px;
}
    .block-top:hover{
    transform:scale(1.15);
  }
td {
 width: 400px;
}
  
}
